/* ==========================================================================
  Button
========================================================================== */


.btn {
  @include fontSemibold();
  display: inline-block;
  padding: 10px 32px 9px;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  outline: 0;
  background: $colorBtn;
  color: #fff;
  border: 3px solid $colorBtn;
  border-radius: 5px;
  transition: all 0.13s ease-in-out;
  &:hover,
  &:focus {
    background: #4d4d4d;
    color: #fff;
    border: 3px solid #4d4d4d;
  }

  &.btn--primary {
    font-size: $fontLarge;
    padding: 13px 42px 12px;
  }
  &.btn--secondary {
    font-size: $fontSmall;
    padding: 8px 28px;
  }

  &.btn--outline {
    background: transparent;
    color: #fff;
  }
  &.btn--twitter {
    border-color: #38c1fa;
    &:hover,
    &:focus {
      border-color: #38c1fa;
      background: #38c1fa;
    }
  }

  &.btn--form {
    background: #4d4d4d;
    border: 3px solid #4d4d4d;
    pointer-events: none;
    &:hover,
    &:focus {
      background: $colorBtn;
      border: 3px solid $colorBtn;
    }
  }
  &.btn--form-ready {
    background: $colorBlue;
    border-color: $colorBlue;
    pointer-events: auto;
    &:hover,
    &:focus {
      background: darken( $colorBlue, 10%) ;
      border-color: darken( $colorBlue, 10%) ;
    }
  }
}