/* ==========================================================================
  Forms
========================================================================== */

form {
  margin: 0;
  @include placeholder(#ccc);
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/*==========  SEARCH  ==========*/

.form-search {
  label {
    color: $colorGrayLight;
    @include fontHighlight();
    padding: 0 10px 0 0;
    width: 20%;
    transition: all 0.13s ease-in-out;
  }
  input {
    color: $colorGray;
    &[type=search] {
      outline: 0;
      border: none;
      border-radius: 0;
      background: #f1f6fa;
      padding: 8px 10px;
      width: 80%;
      border: 2px solid #f1f6fa;
    }
  }
}



