/* ==========================================================================
  Forms
========================================================================== */

form {
  margin: 0;
  @include placeholder(#ccc);
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
  appearance: none;
  border-radius: 0;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


/*==========  GENERAL INPUT  ==========*/

label {
  display: block;
  color: $colorGrayLight;
  @include fontHighlight();
  padding: 0 0 5px 0;
  transition: all 0.13s ease-in-out;
}

.input-styled {
  display: block;
  color: $colorGray;
  @include fontDefault();
  outline: 0;
  border: none;
  border-radius: 0;
  background: #f1f6fa;
  padding: 8px 10px;
  width: 100%;
  border: 2px solid #f1f6fa;
  transition: all 0.13s ease-in-out;
  &:hover,
  &:focus {
    background: lighten( #f1f6fa, 10% );
  }
}



/*==========  SEARCH  ==========*/

.form-search {
  .input-search {
    display: inline;
    width: 80%;
  }
  label {
    display: inline;
    width: 20%;
    padding: 0 10px 0 0;
  }

  @include breakpoint(large) {
    .input-search {
      width: 60%;
    }
  }
  @include breakpoint(medium) {
    .input-search {
      width: 100%;
    }
  }
  @include breakpoint(small) {
    .input-search {
      width: 100%;
    }
  }
}

span.wpcf7-not-valid-tip {
  color: $colorRed;
  font-size: 14px;
  padding: 2px 0 0 0;
}

input,
textarea {
  &.wpcf7-not-valid {
    border-color: $colorRed;
  }
}


div {
  &.wpcf7-response-output {
    margin: 0;
    padding: 15px 0 0 0;
  }
  &.wpcf7-mail-sent-ok {
    border: none;
    color: $colorBlue;
  }
}



