/* ==========================================================================
  Header
========================================================================== */


header {
  padding: 40px 0 100px;
  color: #fff;
  animation: orangeRedGradient 15s both infinite;
  background-image: linear-gradient(rgba(246, 166, 69, 0.0), rgba(246, 166, 69, 0.5));
  background-blend-mode: multiply;
  .homde & {
    padding: 40px 0 150px;
    h1 {
      padding: 130px 0 0;
    }
  }
  .blog & {
    animation: redPinkGradient 15s both infinite;
    background-image: linear-gradient(rgba(221, 36, 118, 0.0), rgba(221, 36, 118, 0.5));
  }
  .single-post & {
    animation: none;
    background: $colorBlue;
  }
  h1 {
    padding: 100px 0 0 0;
    color: #fff;
  }
}

.logo {
  display: inline-block;
  position: relative;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.nav-main {
  display: inline-block;
  li {
    margin: 0 0 0 15px;
    display: inline-block;
    &.current-menu-item {
      a {
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  a {
    font-size: 16px;
    @include fontSemibold();
    color: #fff;
    text-transform: lowercase;
    &:hover,
    &:focus {
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:after {
      content: " ";
      display: block;
      height: 4px;
      background: #fff;
      opacity: 0;
      transform: translateY(4px);
      transition: opacity 0.13s ease-in-out, transform 0.13s ease-in-out;
    }
  }
}