/* ==========================================================================
  Header
========================================================================== */


header {
  padding: 40px 0 100px;
  color: #fff;
  animation: orangeRedGradient 7s both infinite;
  background-image: linear-gradient(rgba(246, 166, 69, 0.0), rgba(246, 166, 69, 0.5));
  background-blend-mode: multiply;
  .home & {
    padding: 40px 0 150px;
    h1 {
      padding: 130px 0 0;
    }
  }
  .blog & {
    animation: redPinkGradient 7s both infinite;
    background-image: linear-gradient(rgba(221, 36, 118, 0.0), rgba(221, 36, 118, 0.5));
  }
  .span12 {
    animation: fadeIn 0.13s 0.15s both;
  }
  h1 {
    padding: 100px 0 0 0;
    color: #fff;
  }
  .h3 {
    color: #fff;
  }

  @include breakpoint(large) {
    padding: 30px 0 80px;
    .home & {
      padding: 30px 0 80px;
      h1 {
        padding: 60px 0 0;
      }
    }
    h1 {
      padding: 60px 0 0;
    }
  }
  @include breakpoint(medium) {
    padding: 30px 0 70px;
    .home & {
      padding: 30px 0 70px;
      h1 {
        padding: 50px 0 0;
      }
    }
    h1 {
      padding: 50px 0 0;
    }
  }
  @include breakpoint(small) {
    padding: 20px 0 40px;
    .home & {
      padding: 20px 0 40px;
      h1 {
        padding: 30px 0 0;
      }
    }
    h1 {
      padding: 30px 0 0;
    }
  }
}

.word-wrap {
  display: inline-block;
  opacity: 0;
  width: 119px;
  transform: translateY(10px);
  transition: opacity 0.3s 0.15s ease-in-out, transform 0.3s 0.15s ease-in-out, width 0.15s 0s ease-in-out;
  &.word-2 {
    transition: opacity 0.3s 0.25s ease-in-out, transform 0.3s 0.25s ease-in-out, width 0.15s 0s ease-in-out;
    width: 177px;
  }

  @include breakpoint(medium) {
    display: inline;
  }
  @include breakpoint(small) {
    display: inline;
  }
}

.rotate {
  opacity: 1;
  transform: translateY(0px);
}


.single-post {
  header {
    animation: none;
  }
  &.app-updates {
    header {
      background: $colorBlue;
    }
  }
  &.hidden-pineapple {
    header {
      background: $colorOrange;
    }
  }
  &.news {
    header {
      background: $colorGreen;
    }
  }
  &.tips {
    header {
      background: $colorRed;
    }
  }
}

.logo {
  display: inline-block;
  position: relative;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.nav-main {
  display: inline-block;
  animation: fadeIn 0.13s 0.25s both;
  li {
    margin: 0 0 0 15px;
    display: inline-block;
    &.current-menu-item {
      a {
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  a {
    font-size: 16px;
    @include fontSemibold();
    color: #fff;
    text-transform: lowercase;
    &:hover,
    &:focus {
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:after {
      content: " ";
      display: block;
      height: 4px;
      background: #fff;
      opacity: 0;
      transform: translateY(4px);
      transition: opacity 0.13s ease-in-out, transform 0.13s ease-in-out;
    }
  }
}