/* ==========================================================================
  Header
========================================================================== */


header {
  padding: 40px 0 130px;
  color: #fff;
  animation: orangeRedGradient 10s both infinite;
  h1 {
    padding: 130px 0 0 0;
    color: #fff;
  }
}

.logo {
  display: inline-block;
  position: relative;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.nav-main {
  display: inline-block;
  li {
    margin: 0 0 0 15px;
    display: inline-block;
    &.current-menu-item {
      a {
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  a {
    font-size: 16px;
    @include fontSemibold();
    color: #fff;
    text-transform: lowercase;
    &:hover,
    &:focus {
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:after {
      content: " ";
      display: block;
      height: 4px;
      background: #fff;
      opacity: 0;
      transform: translateY(4px);
      transition: opacity 0.13s ease-in-out, transform 0.13s ease-in-out;
    }
  }
}