/* ==========================================================================
  Pagination
========================================================================== */


.section-pagination {
  border-top: 1px solid $colorBorder;
  padding: 15px 0;
}

.nav-pagination {
  @include fontSemibold();
  text-transform: lowercase;
  ul {
    display: block;
    width: 100%;
    padding: 0 20px;
    @include clearfix();
  }
  li {
    display: block;
  }
  .icon-arrow-left {
    margin-right: 7px;
  }
  .icon-arrow-right {
    margin-left: 7px;
  }

  @include breakpoint(small) {
    ul {
      padding: 0;
    }
  }
}

.pagination-prev {
  float: left;
  a {
    &:hover,
    &:focus {
      i {
        transform: translateX(-3px);
      }
    }
  }
}

.pagination-next {
  float: right;
  a {
    &:hover,
    &:focus {
      i {
        transform: translateX(3px);
      }
    }
  }
}

.pagination-blog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  a {
    &:hover,
    &:focus {
      i {
        transform: scale(1.07);
      }
    }
  }
}