/* ==========================================================================
  Blog
========================================================================== */


.nav-categories {
  position: relative;
  bottom: -8px;
  @include fontHighlight();
  .show & {
    h5 {
      color: $colorGrayDark;
    }
  }
  h5 {
    color: $colorGrayLight;
    transition: color 0.13s ease-in-out;
    cursor: default;
  }
  ul {
    padding: 10px 0;
    .show & {
      .cat-item {
        opacity: 1;
      }
    }
  }
  li {
    display: inline-block;
    margin: 0 20px 0 0;
    &:last-of-type {
      margin: 0;
    }
  }
  .cat-item {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    &:nth-of-type(2) {
      transition-delay: 0.1s;
    }
    &:nth-of-type(3) {
      transition-delay: 0.15s;
    }
    &:nth-of-type(4) {
      transition-delay: 0.2s;
    }
    &:nth-of-type(5) {
      transition-delay: 0.25s;
    }
  }
  a {
    display: inline-block;
    margin-right: 3px;
    &:hover,
    &:focus {
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:after {
      content: " ";
      display: block;
      height: 3px;
      opacity: 0;
      transform: translateY(4px);
      transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    }
  }

  @include breakpoint(medium) {
    li {
      &:first-of-type {
        display: block;
      }
    }
    h5 {
      color: $colorGrayDark;
      display: block;
      padding: 0 0 7px;
    }
    .cat-item {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @include breakpoint(small) {
    li {
      &:first-of-type {
        display: block;
      }
    }
    h5 {
      color: $colorGrayDark;
      display: block;
      padding: 0 0 7px;
    }
    .cat-item {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.cat-item-4 {
  color: $colorGreen;
  a {
    color: $colorGreen;
    &:after {
      background: $colorGreen;
    }
  }
}

.cat-item-5 {
  color: $colorBlue;
  a {
    color: $colorBlue;
    &:after {
      background: $colorBlue;
    }
  }
}

.cat-item-6 {
  color: $colorOrange;
  a {
    color: $colorOrange;
    &:after {
      background: $colorOrange;
    }
  }
}

.cat-item-7 {
  color: $colorRed;
  a {
    color: $colorRed;
    &:after {
      background: $colorRed;
    }
  }
}


article {
  @include clearfix();
  margin-bottom: 60px;
  &.app-updates {
    time {
      color: $colorBlue;
    }
    a {
      &:hover,
      &:focus {
        color: $colorBlue;
      }
    }
    .read-more {
      border-color: transparent;
      &:hover,
      &:focus {
        color: $colorGrayDark;
        border-color: $colorBlue;
      }
    }
  }
  &.hidden-pineapple {
    time {
      color: $colorOrange;
    }
    a {
      &:hover,
      &:focus {
        color: $colorOrange;
      }
    }
    .read-more {
      border-color: transparent;
      &:hover,
      &:focus {
        color: $colorGrayDark;
        border-color: $colorOrange;
      }
    }
  }
  &.news {
    time {
      color: $colorGreen;
    }
    a {
      &:hover,
      &:focus {
        color: $colorGreen;
      }
    }
    .read-more {
      border-color: transparent;
      &:hover,
      &:focus {
        color: $colorGrayDark;
        border-color: $colorGreen;
      }
    }
  }
  &.tips {
    time {
      color: $colorRed;
    }
    a {
      &:hover,
      &:focus {
        color: $colorRed;
      }
    }
    .read-more {
      border-color: transparent;
      &:hover,
      &:focus {
        color: $colorGrayDark;
        border-color: $colorRed;
      }
    }
  }

  time {
    display: block;
    padding: 0 0 5px;
  }
  h2 {
    padding: 0 0 10px;
  }
  .read-more {
    font-size: $fontBase;
    text-transform: lowercase;
    @include fontHighlight();
    padding: 5px 0 0;
    border-bottom: 4px solid $colorGrayDark;
  }
}

.article-excerpt {
  &.app-updates {
    &:hover,
    &:focus {
      h2 {
        color: $colorBlue;
      }
      .read-more {
        border-color: $colorBlue;
      }
    }
  }
  &.hidden-pineapple {
    &:hover,
    &:focus {
      h2 {
        color: $colorOrange;
      }
      .read-more {
        border-color: $colorOrange;
      }
    }
  }
  &.news {
    &:hover,
    &:focus {
      h2 {
        color: $colorGreen;
      }
      .read-more {
        border-color: $colorGreen;
      }
    }
  }
  &.tips {
    &:hover,
    &:focus {
      h2 {
        color: $colorRed;
      }
      .read-more {
        border-color: $colorRed;
      }
    }
  }
  h2 {
    transition: color 0.2s ease-in-out;
  }
  p {
    font-size: $fontH3;
    line-height: 1.4;
    color: $colorGray;
    @include fontLight();
  }
  .read-more {
    color: $colorGrayDark;
    transition: border 0.2s ease-in-out;
  }

  @include breakpoint(large) {
    p {
      font-size: $fontH3 - 3;
    }
  }
  @include breakpoint(medium) {
    p {
      font-size: $fontH3 - 4;
    }
  }
  @include breakpoint(small) {
    p {
      font-size: $fontH3 - 5;
    }
  }
}

.article-single {
  font-size: 18px;
  time {
    font-size: 20px;
  }
  h3 {
    padding: 0 0 12px;
  }
  p {
    padding: 0 0 30px;
    &:first-of-type {
      @include fontHighlight();
      color: $colorGrayDark;
      font-size: $fontH3;
      display: block;
      width: 850px;
    }
  }
  ul, ol {
    padding: 0 0 30px 30px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    padding: 0 0 5px;
    &:last-of-type {
      padding: 0;
    }
  }
  a {
    @include fontHighlight();
  }
  &.app-updates {
    a {
      color: $colorBlue;
      &:hover,
      &:focus {
        color: darken( $colorBlue, 12% );
      }
    }
  }
  &.hidden-pineapple {
    a {
      color: $colorOrange;
      &:hover,
      &:focus {
        color: darken( $colorOrange, 12% );
      }
    }
  }
  &.news {
    a {
      color: $colorGreen;
      &:hover,
      &:focus {
        color: darken( $colorGreen, 12% );
      }
    }
  }
  &.tips {
    a {
      color: $colorRed;
      &:hover,
      &:focus {
        color: darken( $colorRed, 12% );
      }
    }
  }
  img {
    display: block;
    padding: 0 0 40px;
  }
  .wp-caption {
    padding: 0 40px 40px;
    max-width: 100%;
    img {
      padding: 0 0 10px;
    }
    p {
      padding: 0;
      font-size: 13px;
      color: $colorGrayLight;
    }
  }

  @include breakpoint(large) {
    p {
      &:first-of-type {
        width: 750px;
        font-size: $fontH3 - 2;
      }
    }
    .wp-caption {
      p {
        font-size: 13px;
      }
    }
  }
  @include breakpoint(medium) {
    p {
      &:first-of-type {
        width: 100%;
        font-size: $fontH3 - 4;
      }
    }
    .wp-caption {
      padding: 0 20px 20px;
      p {
        font-size: 13px;
      }
    }
  }
  @include breakpoint(small) {
    p {
      &:first-of-type {
        width: 100%;
        font-size: $fontH3 - 5;
      }
    }
    .wp-caption {
      padding: 0 20px 20px;
      p {
        font-size: 13px;
      }
    }
  }
}

.sidebar {
  padding-top: 10px;
  .show & {
    label {
      color: $colorGrayDark;
    }
  }


  @include breakpoint(medium) {
    label {
      color: $colorGrayDark;
      display: block;
    }
  }
  @include breakpoint(small) {
    label {
      color: $colorGrayDark;
      display: block;
      padding: 0 0 7px;
    }
  }
}

.input-search {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  .show & {
    opacity: 1;
  }

  @include breakpoint(medium) {
    opacity: 1;
    transform: translateX(0);
  }
  @include breakpoint(small) {
    opacity: 1;
    transform: translateX(0);
  }
}
